/* general */

:root {
    --text-color: #D0DDD7;
    --darker-green: #183a37;
    --soft-yellow: #efd6ac;
    --blood-orange: #c44900;
    --darker-brown: #432534;
    --off-white: rgb(190, 190, 190); 
    --off-black: #04151f;
    --transparent-white: rgba(255, 255, 255, 0.6);
    --base_font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --num-columns: 0;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--base_font);
}

li, a {
    list-style-type: none;
    text-decoration: none;
    color: inherit;
}


/* base.html */

header {
    background-color: var(--darker-green);
    padding-block: 1.5rem;
}
.nav_cont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--off-white);
}
.item_cont {
    display: flex;
    align-items: center;
    gap: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
}

main {
    height: calc(100dvh - (4.75rem));
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--text_color);
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 5rem;
    height: 5rem;
}
footer > h1 {
    border: 1px solid black;
    cursor: pointer;
}
/* index.html */
main.index {
    flex-direction: column;
}

main.index > h1 {
    font-weight: bolder;
}
main.index > form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
main.index > form > fieldset {
    border: 2px solid black;
    padding-top: .25rem;
    border-radius: .25rem;
}
main.index > form > fieldset > legend {
    line-height: .5;
}
main.index > form > fieldset > input:not(text),
main.index > form > fieldset > input:not(text):focus {
    border-radius: .15rem;
    outline: none;
    border: none;
    line-height: 1.5;
    background-color: var(--darker-brown);
    color: var(--text-color);
    font-size: 1rem;
    padding: .25rem .75rem;
    transition: all .1s ease;
}
main.index > form > input:not(text):focus {
    box-shadow: var(--off-black) 2px 2px;
} 

main.index > form > button {
    background-color: var(--darker-brown);
    border: none;
    font-weight: bolder;
    font-size: large;
    padding: .5rem 1.5rem;
    color: white;
    position: relative;
}


/* class setup */
/* flex-cont */
main.class_setup {
    overflow: hidden;
    max-width: 100dvw;
}
.class_wrapper {
    background-color: var(--off-white);
    padding: .5rem;
    border-radius: 1.15rem;
    aspect-ratio: 9 / 16;
}

.subclass {
    text-align: center;
    margin-block: .4rem;
    text-decoration: underline;
}
.class_wrapper > img {
    height: 20rem;
    aspect-ratio: 5 / 6;
    object-fit: contain;
    background-color: #183a37;
    border-radius: 1rem;
    padding: 1rem;
}
.class_wrapper > a {
    background-color: var(--darker-green);
    padding: .5rem 1.5rem;
    color: white;
    display: block;
    width: fit-content;
    margin: 1.25rem auto;

    transition: all .1s ease-in-out;
}
.class_wrapper > a:hover {
    transform: translate(-2px, -2px);
    box-shadow: 2px 2px 0 black;
}
.stats_cont > ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-block: 1.25rem;
}
.stats_cont > ul > li > img {
    aspect-ratio: 1 / 1;
    height: 1.25rem;
}
.stats_cont > ul > li {
    display: grid;
    grid-template-columns: .3fr 1rem .3fr;
    background-color: var(--transparent-white);
    padding: .25rem;
    border-radius: .5rem;
}
.stats_cont > ul > li > * {
    justify-self: center;
    align-self: center;
}
.stats_cont > ul > li > hr {
    border: none;
    background-color: var(--off-black);
    height: 80%;
    width: 2px;
}
.stats_cont > ul > li > p > .strong {
    font-weight: bolder;
    font-size: 1.25rem;
}

/* story */
main.story {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100%;
}

main.story > .story_cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: calc(50dvw - 2rem);
    padding: 2rem;
}
.story_cont > .text_cont {
    padding: 2rem;
}
.story_cont > .text_cont > * {
    text-align: center;
    margin-block: 1.5rem;
}
.options {
    display: grid;
    gap: 2rem;
}
.options > .options_item {
    background-color: #432534;
    padding: .25rem .5rem;
    min-height: 5rem;
    min-width: 10rem;
    font-size: 1.25rem;
    color: white;
}

.story_cont > .options_cont {
    display: grid;
    grid-template-rows: auto;
    gap: 2rem;
    overflow: hidden;
}

/* teams */
.team_wrap {
    --cont-height:calc(100dvh - 4.75rem); 

    height: var(--cont-height);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 
.team_wrap > .class_wrapper {
    max-height: calc(var(--cont-height) - 50%);
}
.team_wrap > .class_wrapper > img {
    height: 15rem;
}
.class_wrapper > .stats_cont > ul > li {
    width: min-content;
    padding: .5rem .5rem;
}
.class_wrapper > .stats_cont > ul > li > p {
    width: max-content;
}


/* npcs */
.npc_wrapper {
    display: flex;
    gap: 1.5rem;
}
.npc_wrapper > .class_wrapper {
    aspect-ratio: unset;
}

.npc_wrapper > .class_wrapper > img {
    height: 10rem;
    aspect-ratio: initial;
    width: 100%;
}
.npc_wrapper > .class_wrapper > h2 {
    font-size: 1.15rem;
}
.npc_wrapper > .class_wrapper > .stats_cont > ul > li {
    width: min-content;
    padding: .15rem .15rem;
}
.npc_wrapper > .class_wrapper > .stats_cont > ul > li > p {
    width: max-content;
}
.npc_wrapper > .class_wrapper {
    height: 100%;
    width: calc((50dvw - 3rem) / 3) 
}