<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    {% block script %}{% endblock script %}
    <title> 
        {% block title%}
            Title 
        {% endblock title %}
    </title>
</head>
<body>
    <header>
        <nav class="nav_cont">
            <h2 class="knock_off">
                <span>knock off</span>
                <span>dnd</span>
            </h2>
            <h2 class="nav_title">
                {{ nav_title }}
            </h2>
            <ul class="item_cont">
                <li class="nav_items">
                    <a href="/" class="nav_item">home</a>
                </li>
                <li class="nav_items">
                    <a href="/new_game" class="nav_item">new game</a>
                </li>
            </ul>
        </nav>
    </header>
{% block body %}
    {% block team %}
    <div class="team_wrap">
        <div class="class_wrapper">
            <img src="../static/{{player_class.subclass|lower}}.png" alt="">
            <h2 class="subclass"> {{ player_class.subclass }}</h2>
            <div class="stats_cont">
                <ul>
                    <li>
                        <img src="../static/setup_img/health-care.png" alt="">
                        <hr>
                        <p>
                            <span class="strong">{{ player_class.health }}</span>
                        </p>
                    </li>
                    <li>
                        <img src="../static/setup_img/shield.png" alt="">
                        <hr>
                        <p>
                            <span class="strong">{{ player_class.defense }}</span>
                        </p>
                    </li>
                    <li>
                        <img src="../static/setup_img/sword.png" alt="">
                        <hr>
                        <p>
                            <span class="strong">{{ player_class.damage }}</span>
                        </p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <p>
                            {{ player_class.weapons }}
                        </p>
                    </li>
                    <li>
                        <p>
                            Lvl: {{ player_class.level }}
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="npc_wrapper">
            {% for enemy in sub_enemies %}
                <div class="class_wrapper">
                    <img src="../static/{{enemy['subclass']|lower}}.png" alt="">
                    <h2 class="subclass"> {{ enemy.enemy_name }}</h2>
                    <div class="stats_cont">
                        <ul>
                            <li>
                                <img src="../static/setup_img/health-care.png" alt="">
                                <hr>
                                <p>
                                    <span class="strong">{{ enemy.health }}</span>
                                </p>
                            </li>
                            <li>
                                <img src="../static/setup_img/shield.png" alt="">
                                <hr>
                                <p>
                                    <span class="strong">{{ enemy.defense }}</span>
                                </p>
                            </li>
                            <li>
                                <img src="../static/setup_img/sword.png" alt="">
                                <hr>
                                <p>
                                    <span class="strong">{{ enemy.damage }}</span>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endblock team %}
{% endblock body %}
</body>
</html>