{% extends "base.html" %}

{% block title %}Intro{% endblock title %}

{% block body %}
    <header>
        <nav class="nav_cont">
            <h2 class="knock_off">
                <span>knock off</span>
                <span>dnd</span>
            </h2>
            <h2 class="nav_title"> {{ nav_title }}</h2>
            <ul class="item_cont">
                <li class="nav_items">
                    <a href="/" class="nav_item">home</a>
                </li>
                <li class="nav_items">
                    <a href="/new_game" class="nav_item">new game</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        {% for class in classes %}
            <div class="class_cont">
                <img src="../static/courser.png" alt="Class image">
                <div class="stats">
                    <h2 class="class_name"> {{ class['name'] }} </h2>
                    <div class="stats_list">
                        <ul>
                            <li class="stat_cont">
                                <h3 class="stat">{{ class['hp'] }}</h3>
                                <hr>
                                <img src="../static/courser.png" alt="../">
                            </li>
                            <li class="stat_cont">
                                <h3 class="stat"> 42 </h3>
                                <hr>
                                <img src="../static/courser.png" alt="">
                            </li>
                            <li class="stat_cont">
                                <h3 class="stat"> 12 </h3>
                                <hr>
                                <img src="../static/courser.png" alt="">
                            </li>
                        </ul>
                    </div>
                </div>
                <button>Select</button>
            </div>
        {% endfor %}
    </main>
{% endblock body %}